################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
*.exe
.vs/*
/Intermediate/*
/Win32/*
/x64/*
Intermediate/*
Win32/*
x64/*


