################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.exe
/Win32/*
/x64/*
/.vs/*
/Intermediate/*
